<html>
   <head>
      <!-- Importar archivos javascript -->
      <!-- Importar archivos css -->
      <!-- Escribir css -->
      <link rel="stylesheet" href="/assets/main.css">
   </head>
   <!doctype html>
   <html lang="en">
      <head>
         <!-- Required meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Demo Login</title>
      </head>
      <body>
         <main>
            <nav>
              <div>
                <a href="/">Home</a>
                    {{#block "contenido-header"}}{{/block}}
                </div>
              </div>
            </nav>
            <div class="container">
                {{#block "contenido"}}
                {{/block}}
            </div>
         </main>
      </body>
   </html>